# Decision Tree

Usamos el tutorial que se puede en contrar en http://benalexkeen.com/decision-tree-classifier-in-python-using-scikit-learn/

In [1]:
import pandas as pd

df = pd.read_csv('titanic.csv', index_col='PassengerId')

In [3]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Nos quedamos sólo con la variable de clase del pasajero, sexo, edad, hermanos abordo, padres abordo, tarifa y si sobrevivio y quitamos el resto de las varibles

In [4]:
df = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Survived']]

In [5]:
df.head()

             Pclass     Sex   Age  SibSp  Parch     Fare  Survived
PassengerId
1                 3    male  22.0      1      0   7.2500         0
2                 1  female  38.0      1      0  71.2833         1
3                 3  female  26.0      0      0   7.9250         1
4                 1  female  35.0      1      0  53.1000         1
5                 3    male  35.0      0      0   8.0500         0

In [6]:
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

In [7]:
df = df.dropna()

In [8]:
X = df.drop('Survived', axis=1)
y = df['Survived']

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [10]:
from sklearn import tree

model = tree.DecisionTreeClassifier()

In [11]:
model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [12]:
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [13]:
y_predict = model.predict(X_test)

from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_predict)

0.82122905027932958

In [14]:
from sklearn.metrics import confusion_matrix

pd.DataFrame(
    confusion_matrix(y_test, y_predict),
    columns=['Predicted Not Survival', 'Predicted Survival'],
    index=['True Not Survival', 'True Survival']
)

                   Predicted Not Survival  Predicted Survival
True Not Survival                      97                  15
True Survival                          17                  50

En el caso del tutorial se puede observar que la mayor ganancia de información viene de la variable de género, posteriormente la clase del pasajero, edad y tarifa. 

Los criterios que considera son la ganancia de información apartir de la entropia, gini impurity

In [15]:
tree.export_graphviz(model.tree_, out_file='tree.dot', feature_names=X.columns)

In [19]:
from subprocess import call

call(['dot', '-T', 'png', 'tree.dot', '-o', 'tree.png'])

WindowsError: [Error 2] The system cannot find the file specified